<a href="https://colab.research.google.com/github/ezerwi/python-lecture/blob/master/Lecture44_%5BMar10%5D_Python_Basic(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lecture44  Mar/10/2020

#### 커피 자판기 프로그램

In [11]:
coffee = 10 # 총 판매 가능 개수
price = 300 # 커피 가격
print("커피 자판기")

while coffee > 0  :
  money = int( input("커피를 주문하시겠습니까?") )
  if money < price :
    print("금액이 부족합니다. {}을 반환합니다.".format(money))
    
  if money >= price and (money <= coffee*price) :
    order = money // price
    coffee -= order
    ret = money % price
    print("커피 {}개를 주문합니다".format(order))
    if ret != 0 :
      print("잔돈 {}원을 반환합니다.".format(ret))
  elif money >= price and ( money > coffee*price) :
    print("만들 수 있는 개수를 초과합니다. 커피 10개만 주문합니다.")
    print("잔돈 {}원을 반환합니다.".format(money - coffee*price))
    coffee = 0
  
  print("남은 커피 개수 : ", coffee)
  
print ("커피 소진 : 더 이상 커피가 없습니다.")

커피 자판기
커피를 주문하시겠습니까?5000
만들 수 있는 개수를 초과합니다. 커피 10개만 주문합니다.
잔돈 2000원을 반환합니다.
남은 커피 개수 :  0
커피 소진 : 더 이상 커피가 없습니다.

### 함수

In [12]:
def say() :
  return 'Hi'

a = say()
print(a)

Hi

In [18]:
def sum (a, b) :
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))
sum(3, 4)

3, 4의 합은 7입니다.

여러 개의 인자를 받는 함수

변수명 앞에 *을 붙이면 입력값들을 tuple로 변경해 처리

In [16]:
def sum_many(*args) :
    sum = 0
    for i in args :
        sum += i
    return sum
print (sum_many(1,2,3,4,5))

15

In [20]:
def sum_mul (choice, *args) :
    if choice == 'sum' :
        res = 0
        for i in args :
            res += i
    if choice == 'mul' :
        res = 1
        for i in args : 
            res *= i
    return res

print (sum_mul('sum', 1,2,3,4,5))
print (sum_mul('mul', 1,2,3,4,5))

15
120

In [29]:
def sub_div (choice, *args) :
    res = args[0]
    if choice == 'sub' :
        res = -args[0]
        for i in range(1,len(args)) :
            res -= args[i]
    if choice == 'div' :
        for i in range(1,len(args)) :
            res /= i
    return res

print (sub_div('sub', 2,4,6,8,10))
print (sub_div('div', 2,4,6,8,10))

-30
0.08333333333333333

함수의 결과값은 항상 하나이므로, return 값을 2개 이상으로 정할 경우 tuple로 반환

- 결과값을 tuple이 아닌 각각 저장하고 싶으면 변수를 2개 선언하여 저장

- 'return'을 중복 생성할수는 없음; 먼저 생성된 return에서 함수 종료되므로

In [30]:
def sum_and_mul (a,b) :
    return a+b, a*b
print(sum_and_mul(4,7))

rs1, rs2 = sum_and_mul(4,7)
print (rs1)
print (rs2)

(11, 28)
11
28

In [33]:
def sy_nick(nick) :
    if nick == '바보' : return '아니야!'
    print ('나의 별명은 %s입니다.' % nick)

print(sy_nick('바보'))
sy_nick('google')

아니야!
나의 별명은 google입니다.