<a href="https://colab.research.google.com/github/ezerwi/python-lecture/blob/master/Lecture44_%5BMar10%5D_Python_Basic(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lecture44  Mar/10/2020

### 커피 자판기 프로그램

In [0]:
coffee = 10 # 총 판매 가능 개수
price = 300 # 커피 가격
print("커피 자판기")

while coffee > 0  :
  money = int( input("커피를 주문하시겠습니까?") )
  if money < price :
    print("금액이 부족합니다. {}을 반환합니다.".format(money))
    
  if money >= price and (money <= coffee*price) :
    order = money // price
    coffee -= order
    ret = money % price
    print("커피 {}개를 주문합니다".format(order))
    if ret != 0 :
      print("잔돈 {}원을 반환합니다.".format(ret))
  elif money >= price and ( money > coffee*price) :
    print("만들 수 있는 개수를 초과합니다. 커피 10개만 주문합니다.")
    print("잔돈 {}원을 반환합니다.".format(money - coffee*price))
    coffee = 0
  
  print("남은 커피 개수 : ", coffee)
  
print ("커피 소진 : 더 이상 커피가 없습니다.")

커피 자판기
커피를 주문하시겠습니까?5000
만들 수 있는 개수를 초과합니다. 커피 10개만 주문합니다.
잔돈 2000원을 반환합니다.
남은 커피 개수 :  0
커피 소진 : 더 이상 커피가 없습니다.

### 함수

In [0]:
def say() :
  return 'Hi'

a = say()
print(a)

Hi

In [0]:
def sum (a, b) :
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))
sum(3, 4)

3, 4의 합은 7입니다.

여러 개의 인자를 받는 함수

변수명 앞에 *을 붙이면 입력값들을 tuple로 변경해 처리

In [0]:
def sum_many(*args) :
    sum = 0
    for i in args :
        sum += i
    return sum
print (sum_many(1,2,3,4,5))

15

In [0]:
def sum_mul (choice, *args) :
    if choice == 'sum' :
        res = 0
        for i in args :
            res += i
    if choice == 'mul' :
        res = 1
        for i in args : 
            res *= i
    return res

print (sum_mul('sum', 1,2,3,4,5))
print (sum_mul('mul', 1,2,3,4,5))

15
120

In [0]:
def sub_div (choice, *args) :
    res = args[0]
    if choice == 'sub' :
        res = -args[0]
        for i in range(1,len(args)) :
            res -= args[i]
    if choice == 'div' :
        for i in range(1,len(args)) :
            res /= i
    return res

print (sub_div('sub', 2,4,6,8,10))
print (sub_div('div', 2,4,6,8,10))

-30
0.08333333333333333

함수의 결과값은 항상 하나이므로, return 값을 2개 이상으로 정할 경우 tuple로 반환

- 결과값을 tuple이 아닌 각각 저장하고 싶으면 변수를 2개 선언하여 저장

- 'return'을 중복 생성할수는 없음; 먼저 생성된 return에서 함수 종료되므로

In [0]:
def sum_and_mul (a,b) :
    return a+b, a*b
print(sum_and_mul(4,7))

rs1, rs2 = sum_and_mul(4,7)
print (rs1)
print (rs2)

(11, 28)
11
28

In [0]:
def sy_nick(nick) :
    if nick == '바보' : return '아니야!'
    print ('나의 별명은 %s입니다.' % nick)

print(sy_nick('바보'))
sy_nick('google')

아니야!
나의 별명은 google입니다.

In [0]:
def say_myself(name, old, man=True) :
    print ('My name is %s' % name)
    print ('My age is %d' % old)
    if man : print ('My gender is Male')
    else : print ('My gender is Female')

say_myself ('wjh', 31)
print(' ')
say_myself ('wss', 28, False)

My name is wjh
My age is 31
My gender is Male

My name is wss
My age is 28
My gender is Female

In [0]:
# 아래와 같은 경우는 에러 발생
# 초기값 설정하는 인자는 반드시 초기값 설정 없는 인자들 뒤에 위치해야 함

# non-default argument follows default argument

def say_myself(name, man=True, old) :
    print ('My name is %s' % name)
    print ('My age is %d' % old)
    if man : print ('My gender is Male')
    else : print ('My gender is Female')

say_myself ('wjh', True, 31)

SyntaxError: ignored

### 함수 안에서 선언된 지역변수의 효력 범위

global 명령을 이용해 함수 안에서 함수 밖의 변수 직접 사용 가능

그러나 함수는 독립적으로 존재하는 것이 좋기 때문에 외부변수에 종속적인 함수는 비추천

In [0]:
a = 1
def vartest(a) :
    a = a+1
    
print (vartest(a))
print (a)

None
1

In [0]:
a = 1
def vartest(a) :
    a = a+1
    return a
print (vartest(a))
a = vartest(a)
print (a)

2
2

In [0]:
a = 1
def vartest() :
    global a
    a = a+1
print (vartest())
print (a)

None
2

### 사용자 입출력

In [0]:
a = input ('Input strings : \n')
print ('Your input is : ', a)

Input strings :
hello
Your input is :  hello

In [0]:
while True :
    data = input ("input\t: ")
    if not data : break
    print ("output\t:", data)

input	: df
output	: df
input	: hihi
output	: hihi
input	: bye
output	: bye
input	:

In [0]:
print ("life""is""too""short")
print ("life"+"is"+"too"+"short")
print ("life","is","too","short")

lifeistooshort
lifeistooshort
life is too short

In [0]:
for i in range(0, 10) :
    print (i+1, end=" ")

1 2 3 4 5 6 7 8 9 10

In [0]:
f = open ('text1.txt', 'w')
f.close()

In [0]:
f = open ('text1.txt', 'w')
for i in range(1, 11) :
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [0]:
f = open ('text1.txt', 'r')
while True :
    line = f.readline()
    if not line : break
    print (line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [0]:
f = open ('text1.txt', 'r')

lines = f.readlines()
print(lines)
for line in lines :
    print (line)
    
f.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [0]:
f = open ('text1.txt', 'r')
data = f.read()
print(data)
f.close

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11째 줄입니다
12째 줄입니다
13째 줄입니다
14째 줄입니다
15째 줄입니다

In [0]:
f = open ('text1.txt', 'a')
for i in range(11, 16) :
    data = '%d째 줄입니다\n' % i
    f.write(data)
f.close()

In [0]:
f = open('foo.txt', 'w')
f.write('파이썬을 배웁시다')
f.close()

In [0]:
with open('foo.txt','w') as f :
    f.write('파이썬은 재밌습니다')

In [0]:
with open('foo.txt', 'r') as f :
    data = f.read()
    print(data)

파이썬은 재밌습니다

## Class

In [0]:
result = 0
def add(num) :
    global result
    result += num
    return result

print (add(3))
print (add(4))

3
7

In [0]:
class Cal :
    # __init__ 생성자
    # self 객체를 받아 initialize
    def __init__(self) :
        self.result = 0
    def adder(self, num) :
        self.result += num
        return self.result
    def subst(self, num) :
        self.result -= num
        return self.result
    def multi (self, num) :
        self.result = 1
        self.result *= num
        return self.result
    def divider(self, num) :
        self.result = 1
        self.result /= num
        return self.result

cal1 = Cal()
cal2 = Cal()

print (cal1.adder (3))
print (cal1.adder (4))
print (cal2.adder (3))
print (cal2.adder (7))

print (cal1.subst (4))
print (cal1.subst (3))

3
7
3
10
3
0

### 사칙연산 Class
객체에 숫자 지정할 수 있게

setdata Method에는 self - first - second 총 3개의 매개변수가 필요한데, 실제로는 a.setdata(4,2)처럼 2개 값만 전달

setdata Method의 첫번째 매개변수 self에는 setdata 를 호출한 객체 a가 자동으로 전달되기 때문

method의 첫 매개변수 self를 명시적으로 구현하는 것은 python만의 독특한 특징

In [0]:
class FourCal :
    def __init__(self, first, second) :
        self.first = first
        self.second = second
    # def setdata(self, first, second) :
    #     self.first = first
    #     self.second = second
    result = 0
    def add (self) :
        return self.first + self.second
    def sub (self) :
        return self.first - self.second
    def multi (self) :
        return self.first * self.second
    def div (self) :
        return self.first / self.second


# a = FourCal()
# a.setdata(4,2)
# print(a.first, a.second)

# b = FourCal()
# b.setdata(3,7)
# print(b.first, b.second)

a = FourCal(4, 6)
print (a.add())
print (a.sub())
print (a.multi())
print (a.div())

10
-2
24
0.6666666666666666

### 생성자
생성자 constructor 란 객체가 생성될 때 자동으로 호출되는 method

method 이름으로 __init__을 사용하는 method

__init__은 setdata와 역할은 동일, 그러나 __init__을 선언하게 되면 객체 생성시 자동생성되므로, 객체 생성하면서 변수 입력 필요

다른 method와 마찬가지로 첫번째 매개변수 self에 생성되는 객체가 자동으로 전달됨

In [96]:
class HouseWi :
    LastName = 'Wi'
pey = HouseWi()
pes = HouseWi()
print (pey.LastName)
print (pes.LastName)

Wi
Wi

In [103]:
class HouseWi :
    LastName = 'Wi'
    def setname(self, name) :
        self.fullname = self.LastName +" "+ name
    def travel(self, where) :
        print('%s, Travel to %s' % (self.fullname, where))
pey = HouseWi()
pey.setname('johnny')
print (pey.fullname)
pey.travel('Busan')

pes = HouseWi()
# travel 함수를 위해서 fullname이 필요, setname 하지 않고 travel할 경우 AttributeError
# pes.travel('Jeju')

Wi johnny
Wi johnny, Travel to Busan

In [107]:
class HouseWi : 
    LastName = 'Wi'
    def __init__(self, name) :
        self.fullname = self.LastName +" "+ name
    def travel(self, where) :
        print('%s, Travel to %s' % (self.fullname, where))

son1 = HouseWi('Jake')
son1.travel('Hawaii')

Wi Jake, Travel to Hawaii

### Class Inheritance, Method Override & Overloading

In [110]:
class HouseJJ(HouseWi) :
    LastName = 'JJ'
    pass
son2 = HouseJJ('Johan')
son2.travel('Kenya')


class HouseKK(HouseWi) :
    LastName = 'KK'

    # Method Overriding
    def travel (self, where, day) :
        print('%s, Travel to %s on %s'%(self.fullname, where, day))

son3 = HouseKK('Paulo')
son3.travel('Paris', 'Saturday')

JJ Johan, Travel to Kenya
KK Paulo, Travel to Paris on Saturday

In [114]:
class HouseYY(HouseWi) :
    LastName = 'YY'
    def love(self, other) :
        print('%s fall in love with %s' %(self.fullname, other.fullname))
    def __add__(self, other) :
        print('%s marriage %s ' % (self.fullname, other.fullname))

husband = HouseYY ('James')
wife = HouseJJ ('Miriam')
husband.love(wife)
husband + wife

YY James fall in love with JJ Miriam
YY James marriage JJ Miriam