### Lecture46 Mar/12/2020

Pandas

행렬벡터, 열벡터

Scala, Vector, Matrix

행벡터 : 1 X m  // 열벡터 : n X 1

M X N 행렬


시리즈, 데이터프레임


벡터화 연산을 사용하면 for loop이 아닌 덧셈 연산으로 빠르게 끝낼 수 있음,
* `%%time` 을 통해 셀 코드의 실행시간 측정 가능

## 자료구조

### `pandas.Series`

- series는 1차원 배열, dataframe은 2차원 배열 ; pandas의 대표적인 class object
- series index는 data 값과 1:1 대응, dictionary와 유사 구조


- series data type of values == int64

In [0]:
import pandas as pd

In [12]:
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
sr = pd.Series(dict_data)

# dictionary type to pandas.Series
print (type(sr), "\n")

print (sr, '\n')

print (sr.dtypes)
print (sr.index)
print (sr.values, '\n')
print (sr.describe)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

int64
Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

<bound method NDFrame.describe of a    1
b    2
c    3
dtype: int64>

In [15]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr1 = pd.Series(list_data)
idx = sr1.index
val = sr1.values

print (sr1)

print (idx)

print (val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

In [38]:
tup_data = ('영인', '2010-05-01', '여', True)
tup_index = ['이름', '생년월일', '성별', '학생여부']

sr2 = pd.Series( tup_data, index=tup_index,)

print (sr2)
print (sr2.index)
print ()

# 정수형 위치 인덱스
for i in range(len(sr2)) :
    print (sr2[i])
print ()
# 이름 인덱스
for j in sr2.index :
    print (sr2[j])
print()

print (sr2[['생년월일', '성별']])
print ()
print (sr2['생년월일':'성별'])
print ()
print (sr2 [1:3])
print ()
print (sr2 [[1, 2]])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
Index(['이름', '생년월일', '성별', '학생여부'], dtype='object')

영인
2010-05-01
여
True

영인
2010-05-01
여
True

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

exe) `Series sr2`로부터 인덱스 이름을 사용하여 `print(sr2[[1, 2])`와 동일한 결과를 출력하세요

In [40]:
print (sr2[[1, 2]])
print ()
print (sr2[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

# dataframe 데이터 프레임
- dataframe은 2차원 배열, R의 dataframe에서 유래
- dataframe의 열은 각각 series 객체

In [44]:
dict_data = {
    'c0' : [1,2,3],
    'c1' : [4,5,6],
    'c2' : [7,8,9],
    'c3' : [10,11,12],
    'c4' : [13,14,15]
}

df = pd.DataFrame (dict_data)

print (type (df))
print ()

print (df)
print ()
print (df.T)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

     0   1   2
c0   1   2   3
c1   4   5   6
c2   7   8   9
c3  10  11  12
c4  13  14  15