<a href="https://colab.research.google.com/github/ezerwi/python-lecture/blob/master/Lecture43_%5BMar09%5D_Python_Basic(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 43. Python Basic(2)

In [20]:
!git clone https://github.com/ezerwi/python-lecture

fatal: destination path 'python-lecture' already exists and is not an empty directory.

LIST 이어서

In [1]:
e = [1,2,3]
print(e.index(3))
print(e.index(1))

2
0

In [4]:
f = [1,2,3]
print(f.pop())
print(f)

3
[1, 2]

In [8]:
g = [1,2,3,1]
print(g.count(1))

2

In [10]:
h = [1,2,3]
h.extend([4,5])
print(h)

[1, 2, 3, 4, 5]

In [13]:
a = [1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

# 튜플
리스트와 비슷한 성질 갖는 자료형이지만, 요소값 변경 불가

프로그램 실행되는 동안 그 값이 항상 변하지 않아야 되는 경우 사용

In [17]:
t1 = (1,2,3,4,5)
t2 = ('a','b','c')
t3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])
def myfunc() :
  print ('HELLO')
t4 = (21,2,myfunc)
# t1[0] = 6
print(t1)
print(t4)
t4[2]()   #list/tuple 내 함수 실행 방식

(1, 2, 3, 4, 5)
(21, 2, <function myfunc at 0x7faa7a368950>)
HELLO

In [18]:
# tuple이 1개의 원소만 가질 경우 요소 뒤에 콤마 붙여야 함
t1 = (1,)
print(t1)

(1,)

In [22]:
a = (1,2,3)
b = ('a','b','c')
c = a+b
print(c)
print(c*3)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

# Dictionary
dict 자료형은 key - value 를 하나의 요소로 하는 순서 없는 집합

sequence 자료형 아니며 indexing 으로 접근 불가

In [31]:
dict1 = {
  'a' : 1,
  'b' : 2,
  'c'  : 3,
}
print(dict1)
print(dict1['c'])
print(dict1['a'])
print( len(dict1) )

{'a': 1, 'b': 2, 'c': 3}
3
1
3

In [40]:
a = {
    'name' : 'pey',
    'phone' : '0109991354',
     'birth' : '1105'
}
print( a.keys( ))
print( a.values() )
print( a.items() )
print( a.get('name') )
print( a.get('pey') ) # key name 만 조회 가능
print( a.get('nokey') )
print( 'name' in a )
print( 'pey' in a ) # key name 만 조회 가능
print( a.get('email', 'no email') ) # get으로 가져올 값이 없는 경우 default value 지정 가능
print("---------------")
a. clear( )
print( a )
print (a.get('foo', 'bar'))

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0109991354', '1105'])
dict_items([('name', 'pey'), ('phone', '0109991354'), ('birth', '1105')])
pey
None
None
True
False
no email
---------------
{}
bar

# Set
순서가 없는 자료형 ; indexing으로 값을 얻을 수 없다

수학의 집합 개념과 유사

In [59]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print("\n교집합")
print("교집합 방식1 : ", s1& s2)
print("교집합 방식2 : ", s1.intersection(s2))

print("\n합집합")
print ("합집합 방식1 : ",s1 | s2)
print ("합집합 방식2 : ", s1.union(s2))

print("\nlist형으로 casting")
s3 = list(s1 & s2)
s4 = list (s1|s2)
print ("casting1 : ", s3)
print ("casting2 : ", s4)

print("\n연산")
print (s1 - s2)
print ( list (s1-s2) )
print (s2 - s1)

print("\n추가&제거")
s1.add(7)
print(s1)
s1.update([9,10,11])
print(s1)
s1.remove(10)
print(s1)

print("\nlength : ",len(s1))

교집합
교집합 방식1 :  {4, 5, 6}
교집합 방식2 :  {4, 5, 6}

합집합
합집합 방식1 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
합집합 방식2 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}

 list형으로 casting
casting1 :  [4, 5, 6]
casting2 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

연산
{1, 2, 3}
[1, 2, 3]
{8, 9, 7}

추가&제거
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 9, 11}

length :  9

# Escape letters

\n, \t, \

In [63]:
print('한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 \
한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 ')

한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현

# 들여쓰기

In [64]:
listdata = ['a','b','c']
if 'a' in listdata :
  print('a in listdata')
  print(listdata)
else :
  print('a not in listdata')

a in listdata
['a', 'b', 'c']

# String Formatting
### 숫자, 문자 대입
%s 는 어떤 값이든 문자열로 변환 가능

'%' 기호를 나타내려면 %%로 써야 함

In [108]:
print ("I eat %d apples." % 3 )
print ("I eat %s apples." % "five")
num = 5
print ("I eat %d apples." % num)
num2, day = 10, "three"
print ("I ate %d apples, so I was sick of %s days" % (num2, day))
print( "I have %s" % [2,5,3])
print ("I have %s" % {'apple' : 2})

I eat 3 apples.
I eat five apples.
I eat 5 apples.
I ate 10 apples, so I was sick of three days
I have [2, 5, 3]
I have {'apple': 2}

In [121]:
print ("%10s" % 'hi') # 오른쪽 정렬, hi 까지 포함해 10칸
print ("%-10s" % 'hi') # 왼쪽 정렬

print ("%30.4f" % 987654321.123456789) #전체 30칸 표현, 소수점 뒤 4자리 반올림 표현
print ("%30.2f" % 987654321.123456789)
print ("%5.4f" % 987654321.123456789)

        hi
hi
                987654321.1235
                  987654321.12
987654321.1235

### 함수
 
* count
* find / index
* join
* upper / lower
* lstrip - strip - rstrip
* replace
* split

In [142]:
print ('hobby'.count('b'))
print ('Python is best choice'.find('b')) # b가 위치한 index == 10
print ('Python is best choice'.index('b')) # find 함수와 동일한 결과
print ('Python is best choice'.find('k')) # k가 위치한 index가 없기 때문에 -1 반환
# print ('Python is best choice'.index('k')) # not found ERROR

2
11
11
-1

In [146]:
a = ','
print(a.join('abcd'))

print('hihihihihi'.upper())
print('ASDFASDF'.lower())

print('lstrip()__'+'       hi___'.lstrip())
print('rstrip()__'+'____hi       '.rstrip())
print('strip()__'+'      hi      '.strip())

print('Life is too short'.replace('Life', 'My leg'))
print('Life is too short'.split())
print('a:b:c:d'.split(':'))

a,b,c,d
HIHIHIHIHI
asdfasdf
lstrip()__hi___
rstrip()______hi
strip()__hi
My leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

### format ()

In [166]:
print('I eat {} apples'.format(3))
print ('{} {} {} {}'.format('a', 'b', 'c','d'))

print ('{0:<15}'.format('Google')) # :< 왼쪽정렬, 15 자리수
print('{:>15}'.format('Google')) # :> 오른쪽 정렬, 15 자리수
print('{:^15}'.format('Google')) # :^ 가운데 정렬
print ('{0:=^10}'.format('hi')) # 10칸 중 공백을 = 기호로 채우기
print('{0:0.4f}'.format(54321.123456789))
print('{:0.4f}'.format(54321.123456789))

print('{{and}}'.format())

I eat 3 apples
a b c d
Google
         Google
    Google
====hi====
54321.1235
54321.1235
{and}

# 연습문제

In [69]:
kim = "881230-1078523"
kims = kim.split("-")
print(kims[0]+" "+kims[1])

881230 1078523

In [72]:
arr = [1,3,5,4,2]
arr.sort(reverse=True)
print(arr)

[5, 4, 3, 2, 1]

In [77]:
arr2 = ['Life', 'is', 'too', 'short']
line = ""
for i in arr2 :
  line += (i+" ")
print (line)

Life is too short

In [78]:
q4 = 'Life is too short'
arr4 = q4.split(" ")
print (arr4)

['Life', 'is', 'too', 'short']

In [80]:
q5 = [1,2,3]
q5.append(4)
print(q5)

[1, 2, 3, 4]

In [97]:
q6 = [1,1,1,2,2,3,3,3,4,4,5]
temp = [i for i in range(1, len(q6)) if q6[i] != q6[i-1]  ]
temp.append(q6[0])
result = []
for i in temp :
  result.append(q6[int(i)])
result.sort()
print (result)

[1, 2, 3, 4, 5]

In [91]:
q7 = {
    'A' : 90,
    'B' : 80,
    'C' : 70
}
print(q7.get('B'), q7.get('C'))

80 70

In [162]:
q8 ='I eat five apples'
print(q8.replace('five', 'eight'))

q9 = 'I ate {0} apples. So I was sick for {1} days'
# q9 = 'I ate {1} apples. So I was sick for {0} days'
print(q9.format('5', 'five'))

I eat eight apples
I ate 5 apples. So I was sick for five days

In [173]:
q10 = 3.451235
print('{:>10.4f}'.format(q10))
print('{:<10.4f}'.format(q10))
print('{:^10.4f}'.format(q10))

    3.4512
3.4512
  3.4512

# LIST 자료형 복사
슬라이싱을 통한 복사

id 함수 : 변수가 가리키고 있는 객체의 주소값 반환

In [180]:
a = [1,2,3]
b = a
a[1] =4
print ("a : ", a )
print ("b : ", b )
print ("id(a) : ", id(a))
print ("id(b) : ", id(b))

a = [1,2,3]
b = a[:]
a[1] =4
print ("a : ", a )
print ("b : ", b )
print ("id(a) : ", id(a))
print ("id(b) : ", id(b))

a :  [1, 4, 3]
b :  [1, 4, 3]
id(a) :  140370158054536
id(b) :  140370158054536
a :  [1, 4, 3]
b :  [1, 2, 3]
id(a) :  140370722298824
id(b) :  140370713036040

# 제어문
### if - else - elif
### for

In [185]:
x, y = 1, 2
if x >= y :  print ('x >= y')
else : print ('y > x')

y > x

In [187]:
money = 2000
if money >= 300 : print ('Taxi')
else : print ('Walk')

Taxi

In [189]:
money = 2000
card = "card"
if money >= 3000 or card != None : print ("Taxi")
else : print("Walk")

Taxi

In [192]:
x, y = 1, 2
if x > y : print ('x > y')
elif x==y : print ('x = y')
else : print ('x < y')

x < y

In [197]:
scope = [1,2,3,4,5]
for x in scope :
  print(x, end=' ')

1 2 3 4 5

In [199]:
scope = [1,2,3,4,5]
for x in scope : 
  print (x, end='\t')
  if x < 3 : continue
  else : break

1	2	3

In [202]:
sum = 0
for i in range(1,11) :
  sum += i
print (sum)

55

In [204]:
marks = [90,25,67,45,80]
for num in range(len(marks)) :
  if marks[num] < 60 : continue
  print("{} 번 학생 축하~".format(num+1))

1 번 학생 축하~
3 번 학생 축하~
5 번 학생 축하~

In [214]:
for i in range(2, 10) :
  print(i,"단\t")
  for j in range(1, 10) :
    print (i*j, end='\t')
  print ('\n')

2 단
2	4	6	8	10	12	14	16	18

3 단
3	6	9	12	15	18	21	24	27

4 단
4	8	12	16	20	24	28	32	36

5 단
5	10	15	20	25	30	35	40	45

6 단
6	12	18	24	30	36	42	48	54

7 단
7	14	21	28	35	42	49	56	63

8 단
8	16	24	32	40	48	56	64	72

9 단
9	18	27	36	45	54	63	72	81

#### 연습문제

In [216]:
scope1 = [1,2,3,4,5]
for i in scope1 :
  if i >3 : break
  print (i)
  if i == 3 : print ('perfect')

1
2
3
perfect

In [218]:
import sys
sum = 0
for i in range(1, sys.maxsize) :
  sum += i
  if sum > 100000 :
    print('sum == {}\ti == {}'.format(sum, i))
    break

# while loop으로 해결 방법

# while True:
#   sum += 1
#   if sum > 100000 :
#     print('sum == {}\ti == {}'.format(sum, i))
#     break 
#   i -= 1

sum == 100128	i == 447

In [220]:
i = 1000
sum = 0
while i >0 :
  if i % 3 == 0 : 
    sum += i
  i-=1
print (sum)

166833