Lecture50 Mar/18/2020

# 산술연산

- 행/열 인덱스를 기준으로 모든 원소 정렬
- 동일 위치 원소끼리 1:1 대응
- 1:1 대응 원소끼리 연산 처리

In [0]:
import pandas as pd
import numpy as np

In [18]:
st1 = pd.Series({'국어' : 100, '영어': 80, '수학' : 90})
st2 = pd.Series({'수학' : 80, '국어' : 90, '영어': 80, })

# print (st1.sort_index(), '\n')
# print (st2.sort_index(), '\n')

print (st1.sort_index() - st2.sort_index(), '\n')
print (st1.sort_index() + st2.sort_index(), '\n')
print (st1.sort_index() * st2.sort_index(), '\n')
print (round(st1.sort_index() / st2.sort_index(), 2), '\n')

data = pd.DataFrame([(st1.sort_index() + st2.sort_index()),st1.sort_index() - st2.sort_index(),st1.sort_index() * st2.sort_index(),round(st1.sort_index() / st2.sort_index(), 2)], index = ['합', '차', '곱', '분'])
# data = pd.concat([st1.sort_index() + st2.sort_index(),st1.sort_index() - st2.sort_index(),st1.sort_index() * st2.sort_index(),st1.sort_index() / st2.sort_index()], axis=1)
print (data)

국어    10
수학    10
영어     0
dtype: int64

국어    190
수학    170
영어    160
dtype: int64

국어    9000
수학    7200
영어    6400
dtype: int64

국어    1.11
수학    1.12
영어    1.00
dtype: float64

        국어       수학      영어
합   190.00   170.00   160.0
차    10.00    10.00     0.0
곱  9000.00  7200.00  6400.0
분     1.11     1.12     1.0

In [21]:
st1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90, })
st2 = pd.Series({'수학' : 80, '국어' : 90, })

data = pd.DataFrame([(st1.sort_index() + st2.sort_index()),st1.sort_index() - st2.sort_index(),st1.sort_index() * st2.sort_index(),round(st1.sort_index() / st2.sort_index(), 2)], index = ['합', '차', '곱', '분'])
print (data)

   국어       수학  영어
합 NaN   170.00 NaN
차 NaN    10.00 NaN
곱 NaN  7200.00 NaN
분 NaN     1.12 NaN

In [22]:
st1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90, })
st2 = pd.Series({'수학' : 80, '국어' : 90, })

sr_add = st1.add(st2, fill_value=0)
sr_sub = st1.sub(st2, fill_value=0)
sr_mul = st1.mul(st2, fill_value=0)
sr_div = st1.div(st2, fill_value=0)

data = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index=['합', '차','곱','분'])
print (data)

     국어        수학    영어
합  90.0   170.000  80.0
차 -90.0    10.000  80.0
곱   0.0  7200.000   0.0
분   0.0     1.125   inf

# `to_csv / read_csv` : CSV 파일 읽고 저장

-

In [23]:
# with open ('sample.csv', 'w') as f :
#     f.write('3')
file_path = 'sample.csv'
df1 = pd.read_csv(file_path)
print (df1, '\n', type(df1))

   c0   c1   c2   c3   c4  Unnamed: 5
0   3    4    5    6    8         NaN
1   1    2    3    4    5         NaN
2   5    2    4    5    5         NaN
 <class 'pandas.core.frame.DataFrame'>

In [24]:
df2 = pd.read_csv(file_path, header=None)
print (df2, '\n', type(df2))

    0    1    2    3    4   5
0  c0   c1   c2   c3   c4 NaN
1   3    4    5    6    8 NaN
2   1    2    3    4    5 NaN
3   5    2    4    5    5 NaN
 <class 'pandas.core.frame.DataFrame'>

In [26]:
df3 = pd.read_csv(file_path, index_col=None)
print (df3, '\n', type(df3))

   c0   c1   c2   c3   c4  Unnamed: 5
0   3    4    5    6    8         NaN
1   1    2    3    4    5         NaN
2   5    2    4    5    5         NaN
 <class 'pandas.core.frame.DataFrame'>

In [27]:
df4 = pd.read_csv(file_path, index_col='c0')
print (df4, '\n', type(df4))

     c1   c2   c3   c4  Unnamed: 5
c0
3     4    5    6    8         NaN
1     2    3    4    5         NaN
5     2    4    5    5         NaN
 <class 'pandas.core.frame.DataFrame'>

In [28]:
df4.to_csv('df5.csv')
df5 = pd.read_csv('df5.csv')
print (df5)

   c0   c1   c2   c3   c4  Unnamed: 5
0   3    4    5    6    8         NaN
1   1    2    3    4    5         NaN
2   5    2    4    5    5         NaN

# `to_json / read_json` : json 파일 I/O

In [31]:
df4.to_json('df_j.json')
df_j = pd.read_json('df_j.json')
print (df_j)

    c1   c2   c3   c4  Unnamed: 5
3    4    5    6    8         NaN
1    2    3    4    5         NaN
5    2    4    5    5         NaN

# `to_pickle / read_pickle`  : binary file

In [32]:
df5.to_pickle('df6.pkl')
df6 = pd.read_pickle('df6.pkl')
print (df6)

   c0   c1   c2   c3   c4  Unnamed: 5
0   3    4    5    6    8         NaN
1   1    2    3    4    5         NaN
2   5    2    4    5    5         NaN

## pandas의 `to/read_pickle`과 python 외장 라이브러리 `pickle` 비교

In [34]:
import pickle
with open ('test.txt', 'wb') as fw :
    data = { 1: 'python', 2: 'you need'}
    pickle.dump(data, fw)
with open ('test.txt', 'rb') as fr : 
    data = pickle.load(fr)
    print (data)

{1: 'python', 2: 'you need'}

In [35]:
import os
os.getcwd()

'/content'

# 예제] Titanic: Machine Learning from Disaster (from kaggle)

### Titanic data 전처리

- 분석 데이터 : train.csv
- 재사용 가능한 전처리 사용자 함수 작성하여 일괄 전처리 null 값 처리 ; Age는 평균나이, 나머지 칼럼은'N'값으로 변경, cabin 칼럼은 선실 번호 중 선실 등급 나타내는 첫번째 알파벳이 중요, 앞문자만 추출, 문자열 칼럼 레이블 인코딩 불필요한 속성 칼럼 삭제 (Passengerid, Name,  Ticket)
- 탐색적 분석 필수 항목 :  groupby() 또는 sns.barplot() 사용하여 성별 생존자, 객실 등급별 성별 생존자, 연령별 생존자 등
- 훈련데이터(train.csv) : 검증데이터 (test.csv) = 8:2
- 분류모델 : Decision Tree, Random Forest, Logistic Regression 3개 모두 적용
- 평가 : scikitlearn metrics 사용, 다음 항목들을 포함하는 사용자 함수 def get_cif_eval(y_test, pred) 작성하여 일괄 처리, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
- 모델 개발 및 평가 결과에 대한 종합 의견

### Data Dictionary

- survival :	Survival /	0 = No, 1 = Yes
- pclass :	Ticket class / 1 = 1st, 2 = 2nd, 3 = 3rd
- sex :	Sex	
- Age :	Age in years	
- sibsp :	# of siblings / spouses aboard the Titanic	
- parch :	# of parents / children aboard the Titanic	
- ticket :	Ticket number	
- fare :	Passenger fare	
- cabin :	Cabin number	
- embarked :	Port of Embarkation /	C = Cherbourg, Q = Queenstown, S = Southampton

In [48]:
train = pd.read_csv('train.csv')
# train.to_csv('titanic.csv')
# print (train.head())
print (train.shape)
print (train.describe())
print (train.describe(include='all'))
print (train.columns)
print (train.keys())
print (train.info())

(891, 12)
       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]
        PassengerId    Survived      Pclass  ...        Fare        Cabin  Embarked
count    891.000000  891.000000  891.000000  ...  891.000000          204       889
unique          NaN         NaN         NaN  ...         NaN          147         3
top             NaN         NaN         NaN  ...         NaN  C23 C25 C27         S
freq            NaN         NaN         NaN  ...         NaN            4       644
mean     446.000000    0.383838    2.308642  ...   32.204208          NaN       NaN
std      257.353842    0.486592    0.836071  ...   49.693429          NaN       NaN
min        1.000000    0.000000    1.000000  ...    0.000000          NaN       NaN
25%      223.500000    0.000000    2.000000  ...    7.910400          NaN       NaN
50%      446.000000    0.000000    3.000000  ...   14.454200          NaN       NaN
75%      668.500000    1.000000    3.000000  ...   31.000000          NaN       NaN
max      891.000000    1.000000    3.000000  ...  512.329200          NaN       NaN

[11 rows x 12 columns]
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None