<a href="https://colab.research.google.com/github/ezerwi/python-lecture/blob/master/Mar09_Lecture43_Python_Basic(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 43. Python Basic(2)

In [20]:
!git clone https://github.com/ezerwi/python-lecture

fatal: destination path 'python-lecture' already exists and is not an empty directory.

LIST 이어서

In [1]:
e = [1,2,3]
print(e.index(3))
print(e.index(1))

2
0

In [4]:
f = [1,2,3]
print(f.pop())
print(f)

3
[1, 2]

In [8]:
g = [1,2,3,1]
print(g.count(1))

2

In [10]:
h = [1,2,3]
h.extend([4,5])
print(h)

[1, 2, 3, 4, 5]

In [13]:
a = [1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

# 튜플
리스트와 비슷한 성질 갖는 자료형이지만, 요소값 변경 불가

프로그램 실행되는 동안 그 값이 항상 변하지 않아야 되는 경우 사용

In [17]:
t1 = (1,2,3,4,5)
t2 = ('a','b','c')
t3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])
def myfunc() :
  print ('HELLO')
t4 = (21,2,myfunc)
# t1[0] = 6
print(t1)
print(t4)
t4[2]()   #list/tuple 내 함수 실행 방식

(1, 2, 3, 4, 5)
(21, 2, <function myfunc at 0x7faa7a368950>)
HELLO

In [18]:
# tuple이 1개의 원소만 가질 경우 요소 뒤에 콤마 붙여야 함
t1 = (1,)
print(t1)

(1,)

In [22]:
a = (1,2,3)
b = ('a','b','c')
c = a+b
print(c)
print(c*3)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

# Dictionary
dict 자료형은 key - value 를 하나의 요소로 하는 순서 없는 집합

sequence 자료형 아니며 indexing 으로 접근 불가

In [31]:
dict1 = {
  'a' : 1,
  'b' : 2,
  'c'  : 3,
}
print(dict1)
print(dict1['c'])
print(dict1['a'])
print( len(dict1) )

{'a': 1, 'b': 2, 'c': 3}
3
1
3

In [40]:
a = {
    'name' : 'pey',
    'phone' : '0109991354',
     'birth' : '1105'
}
print( a.keys( ))
print( a.values() )
print( a.items() )
print( a.get('name') )
print( a.get('pey') ) # key name 만 조회 가능
print( a.get('nokey') )
print( 'name' in a )
print( 'pey' in a ) # key name 만 조회 가능
print( a.get('email', 'no email') ) # get으로 가져올 값이 없는 경우 default value 지정 가능
print("---------------")
a. clear( )
print( a )
print (a.get('foo', 'bar'))

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0109991354', '1105'])
dict_items([('name', 'pey'), ('phone', '0109991354'), ('birth', '1105')])
pey
None
None
True
False
no email
---------------
{}
bar

# Set
순서가 없는 자료형 ; indexing으로 값을 얻을 수 없다

수학의 집합 개념과 유사

In [59]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print("\n교집합")
print("교집합 방식1 : ", s1& s2)
print("교집합 방식2 : ", s1.intersection(s2))

print("\n합집합")
print ("합집합 방식1 : ",s1 | s2)
print ("합집합 방식2 : ", s1.union(s2))

print("\nlist형으로 casting")
s3 = list(s1 & s2)
s4 = list (s1|s2)
print ("casting1 : ", s3)
print ("casting2 : ", s4)

print("\n연산")
print (s1 - s2)
print ( list (s1-s2) )
print (s2 - s1)

print("\n추가&제거")
s1.add(7)
print(s1)
s1.update([9,10,11])
print(s1)
s1.remove(10)
print(s1)

print("\nlength : ",len(s1))

교집합
교집합 방식1 :  {4, 5, 6}
교집합 방식2 :  {4, 5, 6}

합집합
합집합 방식1 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
합집합 방식2 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}

 list형으로 casting
casting1 :  [4, 5, 6]
casting2 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

연산
{1, 2, 3}
[1, 2, 3]
{8, 9, 7}

추가&제거
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 9, 11}

length :  9

# Escape letters

\n, \t, \

In [63]:
print('한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 \
한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 ')

한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현 한 줄 표 현

# 들여쓰기

In [64]:
listdata = ['a','b','c']
if 'a' in listdata :
  print('a in listdata')
  print(listdata)
else :
  print('a not in listdata')

a in listdata
['a', 'b', 'c']

# String Formatting
### 숫자, 문자 대입
%s 는 어떤 값이든 문자열로 변환 가능

'%' 기호를 나타내려면 %%로 써야 함

In [108]:
print ("I eat %d apples." % 3 )
print ("I eat %s apples." % "five")
num = 5
print ("I eat %d apples." % num)
num2, day = 10, "three"
print ("I ate %d apples, so I was sick of %s days" % (num2, day))
print( "I have %s" % [2,5,3])
print ("I have %s" % {'apple' : 2})

I eat 3 apples.
I eat five apples.
I eat 5 apples.
I ate 10 apples, so I was sick of three days
I have [2, 5, 3]
I have {'apple': 2}

In [121]:
print ("%10s" % 'hi') # 오른쪽 정렬, hi 까지 포함해 10칸
print ("%-10s" % 'hi') # 왼쪽 정렬

print ("%30.4f" % 987654321.123456789) #전체 30칸 표현, 소수점 뒤 4자리 반올림 표현
print ("%30.2f" % 987654321.123456789)
print ("%5.4f" % 987654321.123456789)

        hi
hi
                987654321.1235
                  987654321.12
987654321.1235

### 함수

In [127]:
print ('hobby'.count('b'))
print ('Python is best choice'.find('b')) # b가 위치한 index == 10
print ('Python is best choice'.index('b')) # find 함수와 동일한 결과
print ('Python is best choice'.find('k')) # k가 위치한 index가 없기 때문에 -1 반환
# print ('Python is best choice'.index('k')) # not found ERROR

2
10
10
-1

# 연습문제

In [69]:
kim = "881230-1078523"
kims = kim.split("-")
print(kims[0]+" "+kims[1])

881230 1078523

In [72]:
arr = [1,3,5,4,2]
arr.sort(reverse=True)
print(arr)

[5, 4, 3, 2, 1]

In [77]:
arr2 = ['Life', 'is', 'too', 'short']
line = ""
for i in arr2 :
  line += (i+" ")
print (line)

Life is too short

In [78]:
q4 = 'Life is too short'
arr4 = q4.split(" ")
print (arr4)

['Life', 'is', 'too', 'short']

In [80]:
q5 = [1,2,3]
q5.append(4)
print(q5)

[1, 2, 3, 4]

In [97]:
q6 = [1,1,1,2,2,3,3,3,4,4,5]
temp = [i for i in range(1, len(q6)) if q6[i] != q6[i-1]  ]
temp.append(q6[0])
result = []
for i in temp :
  result.append(q6[int(i)])
result.sort()
print (result)

[1, 2, 3, 4, 5]

In [91]:
q7 = {
    'A' : 90,
    'B' : 80,
    'C' : 70
}
print(q7.get('B'), q7.get('C'))

80 70