## 훈련과정 : R·파이썬 기반 빅데이터 분석 전문가 양성과정
- 교과목 평가 : 머신러닝 기반 데이터 분석
- 성명 : 위정훈
- 점수 :

### Q. 아래사항을 준수하여 타이타닉 생존자 예측모델을 개발하세요.

- 데이터 : 
  - 제공 데이터 파일 : titanic3.csv
  - 훈련/검증용 데이터 : 평가 데이터 = 8 : 2
  - 훈련/검증용 데이터로 모델 학습 및 검증하고 평가 데이터는 최종 평가에만 사용


- 모델 개발 방법 :
  - 데이터 전처리 및 탐색적 분석을 통하여 파생변수 최소 2개 이상 개발
  - 알고리즘은 최소한 3개 이상 적용(Decision Tree, Random Forest, Logistic Regression은 필수)


- 훈련 및 평가 방법 :
  - GridSearchCV API를 활용하여 교차검증 및 최적 하이퍼파라미터 찾아서 학습 및 검증 수행

# import libraries and set korean font

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm  # 폰트 관련 용도

나눔 폰트 설치

In [0]:
!apt-get update -qq
!apt-get install fonts-nanum* -qq

Selecting previously unselected package fonts-nanum.
(Reading database ... 133872 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Selecting previously unselected package fonts-nanum-eco.
Preparing to unpack .../fonts-nanum-eco_1.000-6_all.deb ...
Unpacking fonts-nanum-eco (1.000-6) ...
Selecting previously unselected package fonts-nanum-extra.
Preparing to unpack .../fonts-nanum-extra_20170925-1_all.deb ...
Unpacking fonts-nanum-extra (20170925-1) ...
Selecting previously unselected package fonts-nanum-coding.
Preparing to unpack .../fonts-nanum-coding_2.5-1_all.deb ...
Unpacking fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-extra (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Setting up fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-eco (1.000-6) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [0]:
sys_font=fm.findSystemFonts()
print(f"sys_font number: {len(sys_font)}")

nanum_font = [f for f in sys_font if 'Nanum' in f]
print(f"nanum_font number: {len(nanum_font)}")

nanum_font

sys_font number: 48
nanum_font number: 31

['/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoEcoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBrush.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunpenR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicEcoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundL.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicCoding.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoEcoExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundEB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoEco.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothic.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjo.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunpenB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicLight.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareEB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareL.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicCoding-Bold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicEco.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicEcoExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumPen.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicLight.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicUltraLight.ttf']

In [0]:
path =  '/usr/share/fonts/truetype/nanum/NanumBarunGothicLight.ttf'  
font_name = fm.FontProperties(fname=path, size=10).get_name()
print(font_name)
plt.rc('font', family=font_name)
plt.rcParams["font.family"] = font_name
matplotlib.rcParams['axes.unicode_minus'] = False

fm._rebuild()

NanumBarunGothic

# import data file

In [20]:
tt = pd.read_csv('titanic3.csv')
display (tt.sample(5))

print ('\n',tt.info())

      pclass  survived  ...  body                            home.dest
484        2         1  ...   NaN                          Chicago, IL
274        1         1  ...   NaN                      Tuxedo Park, NY
432        2         1  ...   NaN                               London
1171       3         0  ...  67.0                                  NaN
655        3         0  ...   NaN  Ruotsinphytaa, Finland New York, NY

[5 rows x 14 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

 None

# Preprocessing

## drop unnecessary columns

In [21]:
tt.drop(['name','ticket','embarked','body','home.dest',], axis=1, inplace=True)

display (tt.sample(5))

      pclass  survived     sex   age  sibsp  parch      fare cabin boat
955        3         0  female   NaN      3      1   25.4667   NaN  NaN
691        3         0    male  35.0      0      0    8.0500   NaN  NaN
623        3         0  female   6.0      4      2   31.2750   NaN  NaN
310        1         0    male  57.0      1      1  164.8667   NaN  NaN
1280       3         0    male  22.0      0      0    7.8958   NaN  NaN

### null data formatting

 - `isnull().sum()` 함수 통해 null 값 있는 columns 확인
 - `unique()` 함수 통해 data들의 형태 확인

In [23]:
print (tt.isnull().sum())
print ( f'{tt.age.unique()}\n\n{tt.fare.unique()}\n\n{tt.cabin.unique()}\n\n{tt.boat.unique()}')
print ( f'{tt.age.nunique()}\n\n{tt.fare.nunique()}\n\n{tt.cabin.nunique()}\n\n{tt.boat.nunique()}')

pclass         0
survived       0
sex            0
age          263
sibsp          0
parch          0
fare           1
cabin       1014
boat         823
dtype: int64
[29.    0.92  2.   30.   25.   48.   63.   39.   53.   71.   47.   18.
 24.   26.   80.     nan 50.   32.   36.   37.   42.   19.   35.   28.
 45.   40.   58.   22.   41.   44.   59.   60.   33.   17.   11.   14.
 49.   76.   46.   27.   64.   55.   70.   38.   51.   31.    4.   54.
 23.   43.   52.   16.   32.5  21.   15.   65.   28.5  45.5  56.   13.
 61.   34.    6.   57.   62.   67.    1.   12.   20.    0.83  8.    0.67
  7.    3.   36.5  18.5   5.   66.    9.    0.75 70.5  22.5   0.33  0.17
 40.5  10.   23.5  34.5  20.5  30.5  55.5  38.5  14.5  24.5  60.5  74.
  0.42 11.5  26.5 ]

[211.3375 151.55    26.55    77.9583   0.      51.4792  49.5042 227.525
  69.3     78.85    30.      25.925  247.5208  76.2917  75.2417  52.5542
 221.7792  26.      91.0792 135.6333  35.5     31.     164.8667 262.375
  55.      30.5     50.4958  39.6     27.7208 134.5     26.2875  27.4458
 512.3292   5.      47.1    120.      61.175   53.1     86.5     29.7
 136.7792  52.      25.5875  83.1583  25.7     71.      71.2833  57.
  81.8583 106.425   56.9292  78.2667  31.6792  31.6833 110.8833  26.3875
  27.75   263.     133.65    49.5     79.2     38.5    211.5     59.4
  89.1042  34.6542  28.5    153.4625  63.3583  55.4417  76.7292  42.4
  83.475   93.5     42.5     51.8625  50.      57.9792  90.      30.6958
  80.      28.7125  25.9292  39.4     45.5    146.5208  82.1708  57.75
 113.275   26.2833 108.9     25.7417  61.9792  66.6     40.125   55.9
  60.      82.2667  32.3208  79.65    28.5375  33.5     34.0208  75.25
  77.2875  61.3792  35.      24.      13.      11.5     10.5     12.525
  39.      29.      21.      13.5     26.25    36.75    73.5     31.5
  23.      32.5     13.8583  14.5     33.      65.      16.      12.275
  27.      15.      13.7917  12.35    10.7083  41.5792  12.      12.875
  15.0458  37.0042  15.5792  19.5     14.       9.6875  30.0708  13.8625
  15.05    12.7375  15.0333  18.75    12.65    15.75     7.55    20.25
   7.65     7.925    7.2292   7.25     8.05     9.475    9.35    18.7875
   7.8875   7.05     8.3     22.525    7.8542  31.275    7.775    7.7958
   7.8958  17.8     31.3875   7.225   14.4583  15.85    19.2583  14.4542
   7.8792   4.0125  56.4958   7.75    15.2458  15.5     16.1      7.725
   7.0458   7.2833   7.8208   6.75     8.6625   7.7333   7.4958   7.6292
  15.9      8.1583  10.5167  10.1708   6.95    14.4     24.15    17.4
   9.5     20.575   12.475   13.9      6.975   15.1     34.375    7.7417
  20.525    7.85    46.9      8.3625   9.8458   8.85    19.9667  14.1083
   6.8583   8.9625  12.2875   6.45     7.0542   8.1125   6.4958   8.6542
  11.1333  23.45     9.825    7.125    8.4333   7.5208  13.4167   7.8292
   7.7375  22.025   12.1833   9.5875   9.4833  25.4667   6.4375  15.55
   7.5792   7.1417  23.25     7.7875   8.0292   8.4583  15.7417  11.2417
   7.8      6.2375   9.225    3.1708   8.4042   7.3125   9.2167   8.6833
  21.075   39.6875   8.7125  13.775    7.      22.3583   8.1375  29.125
   7.7208  20.2125   7.7292   7.575   69.55     9.325   21.6792  16.7
   7.7792  27.9         nan   9.8375  10.4625   8.5167   9.8417   9.
  18.       7.875 ]

['B5' 'C22 C26' 'E12' 'D7' 'A36' 'C101' nan 'C62 C64' 'B35' 'A23'
 'B58 B60' 'D15' 'C6' 'D35' 'C148' 'C97' 'B49' 'C99' 'C52' 'T' 'A31' 'C7'
 'C103' 'D22' 'E33' 'A21' 'B10' 'B4' 'E40' 'B38' 'E24' 'B51 B53 B55'
 'B96 B98' 'C46' 'E31' 'E8' 'B61' 'B77' 'A9' 'C89' 'A14' 'E58' 'E49' 'E52'
 'E45' 'B22' 'B26' 'C85' 'E17' 'B71' 'B20' 'A34' 'C86' 'A16' 'A20' 'A18'
 'C54' 'C45' 'D20' 'A29' 'C95' 'E25' 'C111' 'C23 C25 C27' 'E36' 'D34'
 'D40' 'B39' 'B41' 'B102' 'C123' 'E63' 'C130' 'B86' 'C92' 'A5' 'C51' 'B42'
 'C91' 'C125' 'D10 D12' 'B82 B84' 'E50' 'D33' 'C83' 'B94' 'D49' 'D45'
 'B69' 'B11' 'E46' 'C39' 'B18' 'D11' 'C93' 'B28' 'C49' 'B52 B54 B56' 'E60'
 'C132' 'B37' 'D21' 'D19' 'C124' 'D17' 'B101' 'D28' 'D6' 'D9' 'B80' 'C106'
 'B79' 'C47' 'D30' 'C90' 'E38' 'C78' 'C30' 'C118' 'D36' 'D48' 'D47' 'C105'
 'B36' 'B30' 'D43' 'B24' 'C2' 'C65' 'B73' 'C104' 'C110' 'C50' 'B3' 'A24'
 'A32' 'A11' 'A10' 'B57 B59 B63 B66' 'C28' 'E44' 'A26' 'A6' 'A7' 'C31'
 'A19' 'B45' 'E34' 'B78' 'B50' 'C87' 'C116' 'C55 C57' 'D50' 'E68' 'E67'
 'C126' 'C68' 'C70' 'C53' 'B19' 'D46' 'D37' 'D26' 'C32' 'C80' 'C82' 'C128'
 'E39 E41' 'D' 'F4' 'D56' 'F33' 'E101' 'E77' 'F2' 'D38' 'F' 'F G63'
 'F E57' 'F E46' 'F G73' 'E121' 'F E69' 'E10' 'G6' 'F38']

['2' '11' nan '3' '10' 'D' '4' '9' '6' 'B' '8' 'A' '5' '7' 'C' '14' '5 9'
 '13' '1' '15' '5 7' '8 10' '12' '16' '13 15 B' 'C D' '15 16' '13 15']
98

281

186

27

age column에서 현재 age column(null data 포함)과 age_fix column(null data를 `fillna()` 적용한 column)으로 분리

pclass 와 sex 에 따라 age의 평균값과 최빈값이 다름을 확인

In [34]:
print (tt.age.mean(), '\t',tt.age.median(), '\n')
print (tt['age'][tt['pclass']==3].count(), tt['age'][tt['pclass']==3].mean(), tt['age'][tt['pclass']==3].mode())
print (tt['age'][tt['pclass']==2].count(), tt['age'][tt['pclass']==2].mean(), tt['age'][tt['pclass']==2].mode())
print (tt['age'][tt['pclass']==1].count(), tt['age'][tt['pclass']==1].mean(), tt['age'][tt['pclass']==1].mode())
print (tt['age'][tt['sex']=='female'].count(), tt['age'][tt['sex']=='female'].mean(), tt['age'][tt['sex']=='female'].mode())
print (tt['age'][tt['sex']=='male'].count(), tt['age'][tt['sex']=='male'].mean(), tt['age'][tt['sex']=='male'].mode())

29.881137667304014 	 28.0

501 24.81636726546906 0    22.0
dtype: float64
261 29.506704980842912 0    24.0
dtype: float64
284 39.15992957746479 0    36.0
dtype: float64
388 28.68708762886598 0    22.0
dtype: float64
658 30.58522796352583 0    21.0
dtype: float64

- 전체 age 데이터
- 형제+배우자가 동승하지 않은 경우 (sibsp == 0)
- 부모+자녀가 동승하지 않은 경우 (parch == 0)
- 형제+배우자가 동승한 경우 (sibsp > 0)
- 부모+자녀가 동승한 경우 (parch > 0)
- 부모자녀 또는 형제배우자 동승자 없는 경우
- 부모자녀 또는 형제배우자 동승자 있는 경우

위 경우들에서 mean, median, mode 값이 모두 다름 확인,

특히 부모자녀 동승자 있는 경우 미성년자 비율이 많아 mode가 2.0으로 극단적으로 낮아지는 경우 발생

In [39]:
# print (tt.sibsp.unique())
# print (tt.parch.unique())

print ('age 전체 데이터\n', tt['age'].describe(), tt['age'].mode() )
print ('부모자녀 동승자 없는 경우\n' , tt['age'][ tt['parch']==0 ].describe(), tt['age'][ tt['parch']==0 ].mode(), '\n',)
print ('형제배우자 동승자 없는 경우\n' ,tt['age'][ tt['sibsp']==0 ].describe(), tt['age'][ tt['sibsp']==0 ].mode(), '\n',)
print ('부모자녀 동승자 있는 경우\n' , tt['age'][ tt['parch'] > 0 ].describe(), tt['age'][ tt['parch'] > 0 ].mode(), '\n',)
print ('형제배우자 동승자 있는 경우\n' ,tt['age'][ tt['sibsp'] > 0 ].describe(), tt['age'][ tt['sibsp'] > 0 ].mode(), '\n',)
print ('부모자녀나 형제배우자 동승자 없는 경우\n' , tt['age'][(tt['parch']==0) | (tt['sibsp']==0) ].describe(), tt['age'][(tt['parch']==0) | (tt['sibsp']==0) ].mode(), '\n',)
print ('부모자녀나 형제배우자 동승자 있는 경우\n' , tt['age'][((tt['parch'] > 0) | (tt['sibsp'] > 0))].describe(), tt['age'][((tt['parch'] > 0) | (tt['sibsp'] > 0))].mode(), '\n',)

age 전체 데이터
 count    1046.000000
mean       29.881138
std        14.413493
min         0.170000
25%        21.000000
50%        28.000000
75%        39.000000
max        80.000000
Name: age, dtype: float64 0    24.0
dtype: float64
부모자녀 동승자 없는 경우
 count    768.000000
mean      31.969401
std       12.422617
min        5.000000
25%       22.000000
50%       29.000000
75%       39.000000
max       80.000000
Name: age, dtype: float64 0    24.0
1    30.0
dtype: float64

형제배우자 동승자 없는 경우
 count    685.000000
mean      30.921766
std       13.059751
min        0.330000
25%       22.000000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64 0    22.0
dtype: float64

부모자녀 동승자 있는 경우
 count    278.000000
mean      24.112122
std       17.633611
min        0.170000
25%        8.000000
50%       22.000000
75%       38.000000
max       70.000000
Name: age, dtype: float64 0    2.0
dtype: float64

형제배우자 동승자 있는 경우
 count    361.000000
mean      27.906537
std       16.523307
min        0.170000
25%       17.000000
50%       27.000000
75%       39.000000
max       76.000000
Name: age, dtype: float64 0    24.0
dtype: float64

부모자녀나 형제배우자 동승자 없는 경우
 count    863.000000
mean      31.450649
std       13.060040
min        0.330000
25%       22.000000
50%       29.000000
75%       39.000000
max       80.000000
Name: age, dtype: float64 0    24.0
dtype: float64

부모자녀나 형제배우자 동승자 있는 경우
 count    456.000000
mean      27.771206
std       16.581704
min        0.170000
25%       16.750000
50%       27.000000
75%       39.000000
max       76.000000
Name: age, dtype: float64 0    24.0
dtype: float64

age가 null data 이면서, parch가 있는 case는 총 29개

In [49]:
display (tt[tt['age'].isnull()][tt.parch > 0].values.tolist() , )
print ('\n', tt[tt['age'].isnull()][tt.parch > 0].count() ,'\n', )

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

[[1, 1, 'female', nan, 0, 1, 55.0, 'E33', '6'],
 [3, 0, 'female', nan, 0, 2, 15.2458, nan, nan],
 [3, 0, 'female', nan, 0, 2, 7.75, nan, nan],
 [3, 0, 'male', nan, 1, 2, 23.45, nan, nan],
 [3, 0, 'female', nan, 1, 2, 23.45, nan, nan],
 [3, 0, 'male', nan, 1, 2, 23.45, nan, nan],
 [3, 0, 'female', nan, 1, 2, 23.45, nan, nan],
 [3, 0, 'male', nan, 3, 1, 25.4667, nan, nan],
 [3, 0, 'female', nan, 3, 1, 25.4667, nan, nan],
 [3, 0, 'female', nan, 3, 1, 25.4667, nan, nan],
 [3, 0, 'female', nan, 3, 1, 25.4667, nan, nan],
 [3, 0, 'female', nan, 0, 4, 25.4667, nan, nan],
 [3, 1, 'male', nan, 1, 1, 15.2458, nan, 'C'],
 [3, 1, 'male', nan, 1, 1, 15.2458, nan, 'C'],
 [3, 1, 'female', nan, 0, 2, 15.2458, nan, 'C'],
 [3, 1, 'male', nan, 1, 1, 22.3583, nan, 'C'],
 [3, 1, 'female', nan, 1, 1, 22.3583, 'F E69', 'D'],
 [3, 1, 'female', nan, 0, 2, 22.3583, nan, 'D'],
 [3, 0, 'male', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'female', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'female', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'female', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'female', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'male', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'male', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'male', nan, 8, 2, 69.55, nan, nan],
 [3, 0, 'male', nan, 1, 9, 69.55, nan, nan],
 [3, 0, 'female', nan, 1, 9, 69.55, nan, nan],
 [3, 0, 'male', nan, 1, 1, 14.5, nan, nan]]

 pclass      29
survived    29
sex         29
age          0
sibsp       29
parch       29
fare        29
cabin        2
boat         7
dtype: int64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [0]:
print (tt['age'][(tt.parch.notnull()) & (tt.sibsp.notnull())].unique())

fare columns의 null data에는 해당 pclass의 평균값 입력

In [0]:
print (tt[tt['fare'].isnull()])
print (tt[ tt['fare'].isnull() ]['pclass'].max())
# print (tt['fare'][tt['pclass']==3].mean())
print (tt['fare'][tt['pclass']==tt[ tt['fare'].isnull() ]['pclass'].max()].mean())

In [0]:
tt.fare.fillna(value = (tt['fare'][tt['pclass']==tt[ tt['fare'].isnull() ]['pclass'].max()].mean()), inplace=True)
print (tt.fare.isnull().sum())

### fit_transforming

In [0]:
# tt.cabin = tt['cabin'].str[:1]

# tt.cabin = LabelEncoder().fit_transform( tt.cabin )
display(tt.cabin)