## 훈련과정 : R·파이썬 기반 빅데이터 분석 전문가 양성과정
- 교과목 평가 : 통계기반 데이터 분석
- 성명 : 위정훈
- 점수 :

In [1]:
# df 생성
import pandas as pd
df = pd.read_csv('auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 
df.head()

    mpg  cylinders  displacement  ... model year  origin                       name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]

#### Q1. df 데이터프레임에 대하여 아래 사항을 수행하세요. --- (15점)
1. 'mpg','cylinders','displacement','weight','acceleration','model year','origin','name' 컬럼의 통계요약표를 출력
2. mpg 컬럼의 평균값, 중간값, 최대값, 최소값, 표준편차 각각 개별 출력
3. mpg 컬럼과 weight컬럼간 상관계수 출력

In [7]:
display (df[['mpg','cylinders','displacement','weight','acceleration','model year','origin',]].describe())
print ('\n', df.name.describe())

              mpg   cylinders  ...  model year      origin
count  398.000000  398.000000  ...  398.000000  398.000000
mean    23.514573    5.454774  ...   76.010050    1.572864
std      7.815984    1.701004  ...    3.697627    0.802055
min      9.000000    3.000000  ...   70.000000    1.000000
25%     17.500000    4.000000  ...   73.000000    1.000000
50%     23.000000    4.000000  ...   76.000000    1.000000
75%     29.000000    8.000000  ...   79.000000    2.000000
max     46.600000    8.000000  ...   82.000000    3.000000

[8 rows x 7 columns]

 count            398
unique           305
top       ford pinto
freq               6
Name: name, dtype: object

In [9]:
print (df.mpg.mean())
print (df.mpg.describe()['50%'])
print (df.mpg.max())
print (df.mpg.min())
print (df.mpg.std())

23.514572864321615
23.0
46.6
9.0
7.815984312565782

In [10]:
print (df[['mpg','weight']].corr())

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

#### Q2. df.horsepower의 통계요약표를 출력하세요.  ----- (10점)

In [29]:
import numpy as np

# print (df.horsepower.unique())
df.horsepower.replace('?', np.nan, inplace=True)
df.dropna(subset=['horsepower'], axis=0, inplace=True)
# print (df.horsepower.unique())

df.horsepower = df.horsepower.astype(float)

print (df.horsepower.describe())

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

#### Q3. 아래 사항을 처리 하세요. --- (5점)
- df.origin 열의 고유값을 출력하세요.
- df.origin 열에 대하여 정수형 데이터를 문자형 데이터로 변환한 후 고유값을 출력하세요.

In [20]:
print (df.origin.unique())
df.origin = df.origin.astype('object')
print (df.origin.unique())

[1 3 2]
[1 3 2]

#### Q4. origin 열의 자료형을 확인하고 범주형으로 변환하여 출력하세요. --- (5점)

In [21]:
print (df.origin.dtype)
df.origin = df.origin.astype('category')
print (df.origin.unique())

object
[1, 3, 2]
Categories (3, int64): [1, 3, 2]

#### Q5. origin 열을 범주형에서 문자열로 변환한 후 자료형을 출력하세요. --- (5점)

In [22]:
df.origin = df.origin.astype('object')
print (df.origin.dtype)

object

#### Q6. df.horsepower를 범주형(카테고리) 데이터 처리한 후 아래와 같이 출력하세요. --- (5점)
horsepower hp_bin\
0       130.0   보통출력\
1       165.0   보통출력\
2       150.0   보통출력\
3       150.0   보통출력\
4       140.0   보통출력

In [39]:
# print (df.horsepower.unique())

count, divid = np.histogram(df.horsepower, bins=3)
# print (count, divid)
bin_names = ['고출력','보통출력','저출력']
df['hp_bin'] = pd.cut(x=df.horsepower.astype('category'), bins=divid, labels=bin_names, include_lowest=True)

display (df[['horsepower','hp_bin']].head())

   horsepower hp_bin
0       130.0   보통출력
1       165.0   보통출력
2       150.0   보통출력
3       150.0   보통출력
4       140.0   보통출력

#### Q7. hp_bin 열의 범주형 데이터를 숫자형 범주로 변환하여 앞에서 15개만 출력하세요. --- (5점)

In [40]:
df.hp_bin = df.hp_bin.astype('category')

df.hp_bin = pd.get_dummies(df.hp_bin)

display (df.hp_bin.head(15))

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
Name: hp_bin, dtype: uint8

#### Q8. stock-data.csv를 불러와서 아래사항을 수행하세요. --- (10점)
- object 자료형으로 되어있는 Date 컬럼을 datetime64 자료형으로 변환
- new_Date 컬럼을 생성한 후 다시 인덱스로 셋팅하고 기존 Date는 삭제한 후 출력

In [47]:
stocks = pd.read_csv('stock-data.csv')

stocks.Date = stocks.Date.astype('datetime64')
print (stocks.Date.dtype)

stocks['new_Date'] = stocks.Date[:]
stocks.set_index(['new_Date'], drop=True, inplace=True)
stocks.drop(['Date'], inplace=True, axis=1)

display (stocks.head())

datetime64[ns]

            Close  Start   High    Low  Volume
new_Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

#### Q9. stock-data.csv를 불러와서 아래 사항을 수행한 후 월별 데이터를 작성하여 출력하세요. --- (10점)
- object 자료형으로 되어있는 Date 컬럼을 datetime64 자료형으로 변환하여 new_Date 컬럼을 생성
- dt 속성을 이용하여 period로 변환, 월단위 기간을 의미하는 Date_m 컬럼을 생성하고 인덱스로 지정

In [67]:
stocks = pd.read_csv('stock-data.csv')

stocks['new_Date'] = stocks.Date.astype('datetime64')
# display (stocks.head())

stocks['Date_m'] = stocks['new_Date'].dt.to_period(freq='M')
stocks.set_index(['Date_m'], inplace=True)
display (stocks.head())
print ()
display (stocks.groupby('Date_m').describe())

               Date  Close  Start   High    Low  Volume   new_Date
Date_m
2018-07  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
2018-06  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2018-06  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
2018-06  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
2018-06  2018-06-26  10800  10900  11000  10700   63039 2018-06-26

        Close                            ...    Volume
        count          mean         std  ...       50%       75%       max
Date_m                                   ...
2018-06  19.0  11744.736842  874.308415  ...  133548.0  191016.0  558148.0
2018-07   1.0  10100.000000         NaN  ...  137977.0  137977.0  137977.0

[2 rows x 40 columns]

#### Q10. df.mpg를 정규화 수행한 후 수행전과 후의 통계요약표를 출력하세요. --- (10점)

In [66]:
print (f'{df.mpg.describe()}')

df['mpg_st'] = abs(df.mpg / df.mpg.max())

print (f'\n{df.mpg_st.describe()}')

count    392.000000
mean      23.445918
std        7.805007
min        9.000000
25%       17.000000
50%       22.750000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

count    392.000000
mean       0.503131
std        0.167489
min        0.193133
25%        0.364807
50%        0.488197
75%        0.622318
max        1.000000
Name: mpg_st, dtype: float64