<a href="https://colab.research.google.com/github/ezerwi/python-lecture/blob/master/hw_0310_%E1%84%8B%E1%85%B1%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%92%E1%85%AE%E1%86%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. a, b, c의 평균 점수 구하세요

a = 80,  b = 75, c = 55

In [0]:
a, b, c = 80, 75, 55
sum = a + b + c
avg = sum / 3
print ("평균 점수 : ", avg)

평균 점수 :  70.0

#### 2. 사용자 함수를 작성하여 자연수 123이 홀수인지 짝수인지를 판별하세요.

In [0]:
Q2 = 123
if Q2 % 2 == 0 :   print("짝수입니다")
else : print("홀수입니다")

홀수입니다

#### 3. format 함수를 사용하여 아래와 같이 출력하세요.
I ate 10 apples. so I was sick for 3 days. \
hi!!!!!!!!

In [0]:
print ('I ate {} apples. so I was sick for {} days.'.format(10, 3))
print ('hi{}'.format('!'*10))

I ate 10 apples. so I was sick for 3 days.
hi!!!!!!!!!!

#### 4. 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력하세요.

In [0]:
Q4 = "a:b:c:d"
print(Q4.replace(':', '#'))

a#b#c#d

#### 5. 문자열 'I love python! you love java'을 리스트['I love python', ' you love java']으로 출력하세요.

In [0]:
Q5 = 'I love python! you love java'
print(Q5.split('!'))

['I love python', ' you love java']

#### 6. [1,2,3] 리스트에 추가하여 [1,2,3,4,5, [7,8], 'a','b']를 만들어 출력하세요.

In [0]:
Q6 = [1,2,3]
Q6.extend([4,5])
Q6.append([7,8])
Q6.append(['a','b'])
print(Q6)

[1, 2, 3, 4, 5, [7, 8], ['a', 'b']]

#### 7. a = {'A':90, 'B':80, 'C':70} 에서 key 'B'에 해당하는 값을 출력하고 그 요소는 a에서 삭제하세요.

In [0]:
a = {'A':90, 'B':80, 'C':70}
print(a.get('B'))
del a['B']
print(a)

80
{'A': 90, 'C': 70}

#### 8. 구구단을 구하는 사용자 함수를 만든 후 5단을 출력하세요.

In [0]:
def Gugu(num) :
    print ("구구단", num, "단")
    for i in range(1, 10) :
        print(num,"X", i,"=", num*i)

Gugu(5)

구구단 5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

#### 10. 5000미만의 자연수에서 2의 배수와 5의 배수의 총합

In [0]:
sum = 0
for i in range(5000) :
    if i % 2 == 0 or i % 5 == 0 :
        sum += i

print (sum)

7497500

#### 11. 게시물의 총 건수(m)와 한 페이지에 보여 줄 게시물 수(n)를 입력시 총 페이지 수를 출력하는 사용자 함수를 작성 후 m 과 n이 다음과 같이 주어졌을 때 총페이지 수를 구하세요.
- m=100, n=20
- m=500, n=25

In [0]:
def pages(m, n) :
    pgs = m//n
    if m%n != 0 : pgs += 1
    return pgs

print(pages(100, 20))
print(pages(500, 25))

5
20

#### 12. random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성하세요.

In [0]:
import random

for i in range(6):
    print(random.randint(1, 45))

10
5
40
7
38
36

#### 13. 사칙연산 클래스 만들고 다음 사항들을 출력하세요

In [0]:
class FourCal :
    def __init__(self, first, second) :
        self.first = first
        self.second = second
    def sum(self) : return self.first + self.second
    def sub(self) : return self.first - self.second
    def mul(self) : return self.first * self.second
    def div(self) : return self.first / self.second

a = FourCal(4,2)
b = FourCal(3,7)
# a.setdata(4,2)
# b.setdata(3,7)
print(a.sum())
print(a.mul())
print(a.sub())
print(round(a.div()))
print(b.sum())
print(b.mul())
print(b.sub())
print(round(b.div()))

6
8
2
2
10
21
-4
0

#### 14. for문을 사용해 1부터 100까지의 숫자를 출력하세요.

In [0]:
for i in range(1,101) :
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

#### 15. A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]\
for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [0]:
Q15 = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in Q15 :
    sum += i
avg = sum / len(Q15)
print(avg)

79.0