#### [Quiz] Series sr로 부터 인덱스 이름을 사용하여 print(sr[[1, 2]]) 와 동일한 결과를 출력하세요.

In [0]:
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr[[1, 2]])
print(sr[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

In [3]:
import pandas as pd

# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의.(2차원 배열)
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장. 
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df)) 
print()
# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)
print()

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [0]:
data = [[15, '남', '덕영중'], [17, '여', '수리중']], 
index=['준서', '예은'],
columns=['나이', '성별', '학교']

#### [Quiz] DataFrame을 만드세요
#### [Quiz] df에서 행 인덱스, 열 이름을 변경하여 아래와 같이 출력 하세요.  


    연령 남녀   소속\
학생1  15  남  덕영중\
학생2  17  여  수리중


#### [Quiz] 인덱스를 이용해서 덕영중을 찾으세요(2가지 방식)

In [8]:
data = [[15, '남', '덕영중'], [17, '여', '수리중']]
index = ['준서', '예은']
columns = ['나이', '성별', '학교']
df = pd.DataFrame(data, index=index, columns=columns, dtype=str)

df.rename(columns = {'나이' : '연령', '성별' : '남녀', '학교' : '소속'}, inplace=True)

print (df)

# print ( df['소속'].isin(['덕영중']) )
print ()
print (df.loc['준서', '소속'])
print (df.iloc[0, 2])
print ()

print ( df[df['소속'].isin(['덕영중'])] )
print ()

print (df[(df['소속']=='덕영중')])

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

덕영중
덕영중

    연령 남녀   소속
준서  15  남  덕영중

    연령 남녀   소속
준서  15  남  덕영중

In [7]:
df_copy = df.rename(columns = {'연령' : '나이', '남녀' : '성별', '소속' : '학교'}, inplace = False )
print (df_copy)
print (df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

## comment

inplace = True : 원본 변경

inplace = False로 바꾸는 경우 : 새로운 변수에 복사본 저장할 때

#### Q. 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 '소속'으로 바꾸기

---

In [0]:
df.rename(columns = {'나이' : '연령', '성별' : '남녀', '학교' : '소속'}, inplace=True)

print (df)

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

#### [Quiz] df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸세요.

In [0]:
df.rename( index = { '준서' : '학생1', '예은' : '학생2'}, inplace = True)
print (df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [19]:
# 행 삭제

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print()
# 데이터프레임 df를 복제하여 변수 df2에 저장.
df2 = df[:]
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [13]:
import warnings
warnings.filterwarnings('ignore')

# df2의 1개 행(row)을 삭제
df2.drop('우현', axis=0, inplace=True)
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

### `warnings`

copy에 따른 warning message

#### [Quiz] 데이터프레임 df를 복제하여 변수 df3에 저장 df3의 2개 행(row) '우현', '인아'를 삭제하세요.
(inplace=True를 사용하는 방법 및 사용안하는 방법 2개 모두)

In [22]:
df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
# df3.drop('인아', axis=0, inplace=True)
print (df3)
print ()
df3 = df[:]
df3.drop('우현', axis=0, inplace=False)
df3.drop('인아', axis=0, inplace=False)
print (df3)

    수학  영어  음악   체육
서준  90  98  85  100

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [28]:
# 열 삭제

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print()

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4 = df[:]
print(df4)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [29]:
df4.drop(['음악'], axis=1, inplace=True)
print(df4)

    수학  영어   체육
서준  90  98  100
우현  80  89   90
인아  70  95   90

#### [Quiz] 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열(column) '영어', '음악'을 삭제하세요.

In [33]:
df5 = df[:]

# print (df5)
# print ()

df51 = df5.drop(['영어','음악'], axis=1, inplace=False)
print (df51)
print (df5)
print ()

df5.drop(['영어','음악'], axis=1, inplace=True)
print (df5)

    수학   체육
서준  90  100
우현  80   90
인아  70   90
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [0]:
# 행 선택

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)       # 데이터프레임 출력
print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [0]:
# 인덱스 이름을 기준으로 행을 선택할 때는 loc, 정수형 위치 인덱스를 사용할 때는 iloc를 이용.
# 행 인덱스를 사용하여 행 1개를 선택
label1 = df.loc['서준']    # loc 인덱스 활용
position1 = df.iloc[0]     # iloc 인덱스 활용
print(label1)
print()
print(position1)
print()

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [0]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '인아']] # 인덱스의 이름을 배열로 전달
position2 = df.iloc[[0, 2]] # 정수형 위치를 전달
print(label2)
print()
print(position2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

#### [Quiz] '서준', '우현' 학생을 행 인덱스의 범위(:)를 지정하여 선택하세요.
(인덱스 이름과 위치 인덱스 2가지 모두)

In [0]:
print (df.loc[['서준', '우현']])
print ()
print (df.iloc[0:2])

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [0]:
# 열 선택

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [0]:
# 대괄호안에 열 이름을 입력하면 시리즈 객체로 추출
math1 = df['수학']
print(math1)
print(type(math1))
print()
# 도트 다음에 열 이름을 입력하면 시리즈 객체로 추출
english = df.영어
print(english)
print(type(english))
print()
# 대괄호안에 열 이름의 리스트로 입력하면 데이터프레임이 반환됨
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))
print()
# 2중 대괄호를 사용하면 열 이름 1개를 원소로 갖는 리스트를 사용하는 경우에도 데이터프레임을 반환
math2 = df[['수학']]    
print(math2)
print(type(math2))

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>

   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

#### [Quiz] df에서 '체육' 칼럼을 제외한 후 df_e 이름으로 새로운 데이터프레임을 생성, 출력하세요.

In [0]:
df_e = df[:]
df_e.drop('체육', axis=1, inplace=True)
print (df_e)

   이름  수학  영어   음악
0  서준  90  98   85
1  우현  80  89   95
2  인아  70  95  100

In [0]:
# 전체행을 2행 간격으로 선택
print(df.iloc[::2])
print()
# 0행에서 2행까지 간격을 2로 선택
print(df.iloc[0:3:2])
print()
# 역순으로 인덱싱
print(df.iloc[::-1])

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

In [0]:
# 원소 선택
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


#### iloc, loc를 이용해서 아래 요구사항들을 출력하세요.
* 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수 - 2가지 방법)
* 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수 - 4가지 방법) 
* df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수 - 4가지 방법 
* 정수형 위치 인덱스로 열선택(0번째 열 선택 - Series와 Dataframe 형태)

In [41]:
print ( df )
print ()
print ('서준의 음악 점수')
print (df.loc['서준'].loc['음악'])
print (df.loc['서준', '음악'])
print (df.iloc[0].iloc[2])
print (df.iloc[0,2])
print ()
print ('서준의 음악, 체육 점수')
print (df.loc['서준'].iloc[2:4])
print (df.loc['서준'].loc[['음악','체육']])
print (df.iloc[0][['음악','체육']])
print (df.loc['서준'][[2,3]])
print (df.iloc[0, [2,3]])
print (df.iloc[0, 2:4])
print (df.loc['서준', ['음악','체육']])
print (df.loc['서준', '음악':'체육'])
print ()
print ('서준, 우현의 음악, 체육 점수')
print (df.iloc[0:2, 2:4])
print (df.iloc[[0,1], [2,3]])
print (df.loc['서준':'우현', '음악':'체육'])
print (df.loc[['서준','우현'], ['음악','체육']])
print (df.iloc[[0,1], df.columns.get_indexer(['음악','체육'])])
print ()
print ('정수형 위치 인덱스로 열선택')
print (df.iloc[0],'\n', type(df.iloc[0]))
print ()
print (df.iloc[[0]],'\n', type(df.iloc[[0]]))

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

서준의 음악 점수
85
85
85
85

서준의 음악, 체육 점수
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

서준, 우현의 음악, 체육 점수
    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90

정수형 위치 인덱스로 열선택
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
 <class 'pandas.core.series.Series'>

    수학  영어  음악   체육
서준  90  98  85  100
 <class 'pandas.core.frame.DataFrame'>

In [0]:
# 열 추가

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()
df['국어'] = 80
# 모든 행에 동일한 값이 입력
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [0]:
# 행 추가
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()

# 새로운 행(row)을 추가 - 같은 원소 값을 입력
df.loc[3] = 0
print(df)
print()

# 새로운 행(row)을 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print()

# 새로운 행(row)을 추가 - 기존 행을 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [43]:
# 원소 값 변경
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()
df_idx = df.set_index('이름')
# df_idx = df.set_index('이름', inplace=True)             # df_idx가 None이 됨
print(df_idx)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

#### [Quiz] loc, iloc를 이용해서 아래 요구사항들을 출력하세요.
* 데이터프레임 df_idx에서 '서준'의 '체육' 점수를 3가지 방법으로 80, 90, 100점으로 변경(인덱스 이름 사용)
* 데이터프레임 df_idx에서 '서준'의 '음악', '체육' 점수를 100점, 50점으로 각각 변경(인덱스 이름 사용)
* 데이터프레임 df_idx에서 '서준'의 '체육' 점수를 90점으로 변경(정수 위치 인덱스 사용)
* 데이터프레임 df_idx에서 '서준'의 '음악', '체육' 점수를 80점, 70점으로 각각 변경(정수 위치 인덱스 사용)

In [44]:
print (df_idx)
print ()
df_idx.loc['서준'].loc['체육'] = 80
print (df_idx)
print ()
df_idx['체육']['서준'] = 90
print (df_idx)
print ()
df_idx.loc['서준']['체육'] =100
print (df_idx)
print ()
df_idx.loc['서준', ['음악','체육']] = 100, 50
print (df_idx)
print ()
df_idx.iloc[0, 3]  = 90
print (df_idx)
print ()
df_idx.iloc[0, [2,3]] = 80, 70
print (df_idx)
print ()

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   80  70
우현  80  89   95  90
인아  70  95  100  90

In [45]:
# 행, 열의 위치 바꾸기

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()
# 데이터프레임 df를 전치하기 (메소드 활용)
df_t = df.transpose()
# df_t = df.T
print(df_t)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

#### [Quiz] df_t를 다시 전치해서 원래의 df를 출력하세요.

In [47]:
df_t = df.transpose().transpose()
# df_t = df.T.T
print(df_t)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

### 인덱스 활용

In [51]:
# 특정 열을 행 인덱스로 설정
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

#### [Quiz] set_index() 함수를 이용, 아래 요구사항들을 출력하세요.
(기존 df는 변경하지 말고 별도의 이름으로 변경 내용 반영한 새로운 데이터프레임 생성)
* '이름' 칼럼을 인덱스로 설정
* '음악' 칼럼을 인덱스로 설정
* '수학','음악' 칼럼을 인덱스로 설정

In [54]:
df = pd.DataFrame(exam_data)
print(df)

# df = df.set_index('이름')

# df = df.set_index('음악')

df = df.set_index(['수학', '음악'])
# df = df.set_index('수학':'음악')
print (df)
print ()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
        이름  영어   체육
수학 음악
90 85   서준  98  100
80 95   우현  89   90
70 100  인아  95   90