# 머신러닝 프로젝트

## 타이타닉 생존자 예측모델 개발

- 데이터 : 
  - 제공 데이터 파일 : titanic3.csv
  - 훈련/검증용 데이터 : 평가 데이터 = 8 : 2
  - 훈련/검증용 데이터로 모델 학습 및 검증하고 평가 데이터는 최종 평가에만 사용


- 모델 개발 방법 :
  - 데이터 전처리 및 탐색적 분석을 통하여 파생변수 최소 2개 이상 개발
  - 알고리즘은 최소한 3개 이상 적용(Decision Tree, Random Forest, Logistic Regression은 필수)


- 훈련 및 평가 방법 :
  - GridSearchCV API를 활용하여 교차검증 및 최적 하이퍼파라미터 찾아서 학습 및 검증 수행


- 결과물 제출 : 이메일

In [0]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [6]:
titanic = pd.read_csv('titanic3.csv')

print (titanic.sample(15), '\n')
print (titanic.info(), '\n')
print (titanic.describe(), '\n')

      pclass  survived  ...   body                              home.dest
891        3         0  ...  285.0                                    NaN
820        3         1  ...    NaN      Strood, Kent, England Detroit, MI
789        3         0  ...    NaN                                    NaN
343        2         1  ...    NaN                                 London
1034       3         1  ...    NaN                                    NaN
622        3         0  ...    NaN                    Sweden Winnipeg, MN
914        3         0  ...    NaN                                    NaN
1125       3         0  ...    NaN                                    NaN
1088       3         1  ...    NaN                                    NaN
352        2         1  ...    NaN  Cape Town, South Africa / Seattle, WA
1287       3         0  ...    NaN                                    NaN
640        3         0  ...    NaN                   Sweden Worcester, MA
429        2         0  ...   35.0               Seattle, WA / Toledo, OH
1126       3         0  ...    NaN                                    NaN
415        2         1  ...    NaN                           Brooklyn, NY

[15 rows x 14 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB
None

            pclass     survived  ...         fare        body
count  1309.000000  1309.000000  ...  1308.000000  121.000000
mean      2.294882     0.381971  ...    33.295479  160.809917
std       0.837836     0.486055  ...    51.758668   97.696922
min       1.000000     0.000000  ...     0.000000    1.000000
25%       2.000000     0.000000  ...     7.895800   72.000000
50%       3.000000     0.000000  ...    14.454200  155.000000
75%       3.000000     1.000000  ...    31.275000  256.000000
max       3.000000     1.000000  ...   512.329200  328.000000

[8 rows x 7 columns]

# Preprocessing